* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #902BFF;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #B978FF;
  --backEnd: #004727;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 